<%- include _stylesheets -%>
    <style>
        body {
            overflow: auto;
        }

        select.selector {
            font-size: 24px;
            color: gray;
            border: 1px solid #CCC;
        }
    </style>
    <script type="text/javascript">
        function refresh() {
            let rcVal = document.getElementById("rcType").value || "team";
            let fyVal = document.getElementById("fySelect").value;
            window.location.href = `/template/balanceReport?rc=${rcVal}&month=${fyVal}`;
        }
    </script>
    <center>
        <h1>
            <%= title[languageCode] %>
        </h1>
        <h2>
            <span style="font-weight: normal;">
                RC:
            </span>
            <select class="selector" id="rcType" onchange="refresh()">
                <option value="team" <% if (rcType=="team") { %> selected <% } %>>My Team</option>
                <option value="qx" <% if (rcType=="qx") { %> selected <% } %>>My QX</option>
            </select>
            <span style="font-weight: normal;">
                FY Period:
            </span>
            <select class="selector" id="fySelect" onchange="refresh()">
                <% for(var i=0; i < fyOptions.length; i++) { %>
                    <option <% if (fyPeriod==fyOptions[i]) { %> selected <% } %> value="<%= fyOptions[i] %>"><%=
                                    fyOptions[i] %>
                    </option>
                    <% } %>
            </select>
        </h2>
    </center>
    <div>
        <table width="100%">
            <!-- Header -->
            <tr class="sub header">
                <td>Responsibility Centre Balances</td>
                <td align="right"></td>
            </tr>
            <tr class="header">
                <td>Responsibility Centre</td>
                <td align="right">Balance</td>
            </tr>
            <!-- Data -->
            <% for(var i=0; i < items.length; i++) { %>
                <tr class="<%= items[i].type || '' %>">
                    <td>
                        <%= items[i].title || "" %>
                    </td>
                    <% if (items[i].value !=null) { %>
                        <td align="right">
                            <%= fnValueFormat(typeof items[i].value=="function" ? items[i].value(items) :
                                items[i].value) %>
                        </td>
                        <% } else { %>
                            <td></td>
                            <% } %>
                </tr>
                <% } %>
        </table>
    </div>